blinker==1.6.3
click==8.1.7
colorama==0.4.6
dataclasses==0.6
dominate==2.8.0
Flask
Flask-Admin==1.6.1
Flask-Login==0.6.2
Flask-SQLAlchemy
greenlet==3.0.1
gunicorn==21.2.0
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
Pillow
SQLAlchemy
typing_extensions
visitor
Werkzeug
WTForms==2.3.3
zipp
