{% extends "base.html" %}
{% block title %}
<title>{{ book.title }}</title>
{% endblock %}
{% block page_content %}
<div class="p-4">
<h1>Book <strong>{{ book.title|upper }}</strong> details: </h1>
</div>
<div class="row">
    <div class="col">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1">Book's Title: {{ book.title|upper }}</h3>
          <h5 class="mb-1">Book's Author: {{ book.author|upper }}</h4>
          <h5 class="mb-1 text-muted">Number of pages {{ book.num_pages}} | Published at {{ book.publication_date}}</h5>
          <strong class="d-inline-block mb-2 text-primary">Book's language: {{ book.language|upper }}</strong>
          <p class="card-text mb-auto"><h5>Description: </h6>{{ book.desc }}</p>
        {% if current_user.is_authenticated %}
        {% if book.download_link %}
        <a class="btn btn-lg btn-block btn-primary text-light" href="{{ book.download_link}}" target="_blank">Download Link</a>
        {% else %}
        <button type="button" class="btn btn-lg btn-block btn-primary" disabled>
            <a href="" class="text-light">Comming soon</a>
        </button>
        {% endif %}
        {% else %}
        <p>
          <strong>To download this book please </strong>
          <a href="{{ url_for('login') }}"> Sign In </a>
        </p>
        </button>
        {% endif %}
        </div>
        <div class="col-auto d-none d-lg-block">
            {% if not book.img_path %}
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            {% else %}
            <img class="bd-placeholder-img p-2" width="100%" height="220" src="{{url_for('static',filename=book.img_path)}}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}