<!doctype html>
<html lang="en">
{% block title %}
<title></title>
{% endblock %}
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#563d7c">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.6/examples/pricing/pricing.css" rel="stylesheet">
    
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .nav{flex-wrap:nowrap;overflow-x:auto}
      </style>

  </head>
{% endblock %}
<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-3 mb-2 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ url_for('index') }}" class="navbar-brand d-flex align-items-center">
      <img src="{{ url_for('static', filename='read-book-icon.svg') }}" alt="" width="70" height="40">
      <strong>Book Online</strong>
    </a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      {% if current_user.is_authenticated %}
      <a class="p-2 text-dark" href="{{ url_for('profile') }}">My profile</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a class="p-2 text-dark" href="{{ url_for('logout') }}">Log out</a>
      {% endif %}
    </nav>
    {% if not current_user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{{ url_for('register') }}">My Account</a>
    {% endif %}
  </div>
<body class="text-center">
{% block content %}
<div class="container">
    {% block page_content %} {% endblock %}
</div>
{% endblock %}
<footer class="mastfoot mt-auto py-3">
    <div class="inner">
      <p>Website created, by <a href="https://twitter.com">@AAO Team</a>.</p>
    </div>
</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>